html {
    height: 100%;
}

body {
    background: url('/media/home-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #313232;
    font-family: "Roboto", sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-plants-button {
    color: #ffffff;
    min-width: 260px;
}

.btn-green {
    background: #20847c;
    color: #ffffff;
}

.btn-outline-charcoal {
    background: #ffffff;
    color: #313232 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #313232;
}

.btn-outline-charcoal:hover,
.btn-outline-charcoal:active,
.btn-outline-charcoal:focus {
    background: #313232;
    color: #ffffff !important;
}

.bg-green {
    background-color: #20847c;
}

.shop-plants-button:hover,
.shop-plants-button:active,
.shop-plants-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000000 !important;
}

.text-charcoal {
    color: #313232 !important;
}

.text-green {
    color: #20847c !important;
}

.border-black {
    border: 1px solid #000000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #F0FFF0;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #20847c !important;
    color: #fff !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.qty-btn {
    height: 38px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }